.signUpBox{
  width: 450px;
  font-size: 16px;
  width: 50%;
  padding: 30px 30px 15px 30px;
  border: 5px solid #53687E;
  border-radius: 4px;
  font-family: Ubuntu;
  border: 3px solid rgba(17, 20, 45, 0.77);
  box-shadow: 0 2px 6px 0 rgba(270,300,200,0.2);
  background-color: black;
  opacity: 0.7zz2;
}
.signUpBox label
{
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    color: #fff;
    display:block;
    margin-bottom: 10px;
}
.signUpBox label > span{
    display: inline-block;
    float: left;
    width: 150px;
}
.signUpBox input[type=text],
.signUpBox input[type=password]
{
    background: transparent;
    border: none;
    border-bottom: 1px dashed #83A4C5;
    width: 275px;
    outline: none;
    padding: 0px 0px 0px 0px;
    color: white;
    }
.signUpBox input[type=text]:focus,
.signUpBox input[type=password]:focus
{
    border-bottom: 1px dashed #D9FFA9;
}
.signUpBox button{
    margin-left: 80%;
    background: #576E86;
    border: none;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    color: #A8BACE;
}
.signUpBox button:hover{
  background: #394D61;
  font-weight: bolder;
  box-shadow: 1px 2px 2px 1px #eef3f9;
}
p{
  display: inline;
}
