.wholeScreen {
  display: flex;
  align-items: flex-start;;
  flex-wrap: nowrap;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

.bg-image {
  height: 100%;
  width: 100%;
  background-image: url('../../assets/background.png');
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  opacity: 0.75;
  z-index: -1;
}

.arm {
  font-weight: bold;
  font-size: 50px;
}

.dev {
  background-color: #CCFFFF;
  color: white;
  font-weight: bold;
  font-size: 50px;
}
