.wholeScreen {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-content: center;
  align-items: center;
  flex-wrap: nowrap;

  height: 100%;
  width: 100%;
  background-image: url('../../assets/background.png');
  position: absolute;
  background-size: cover;
  top: 0;
  left: 0;
  opacity: 0.9;
}

.arm {
  font-weight: bold;
  font-size: 50px;
}

.dev {
  background-color: #CCFFFF;
  color: white;
  font-weight: bold;
  font-size: 50px;
}
