.loginBox {
    width: 50%;
    font-size: 16px;
    padding: 30px 30px 15px 30px;
    border: 5px solid #53687E;
    border-radius: 4px;
    box-shadow: 0 2px 6px 0 rgba(270, 300, 200, 0.2);
    background-color: black;
    opacity: 0.72;
}

.loginBox label {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-size: 16px;
    color: #fff;
    display: block;
    margin-bottom: 10px;
}

.loginBox label > span {
    display: inline-block;
    float: left;
    width: 150px;
}

.loginBox input[type=text],
.loginBox input[type=password] {
    background: transparent;
    border: none;
    border-bottom: 1px dashed #83A4C5;
    width: 275px;
    outline: none;
    padding: 0;
    color: white;
    font-weight: bolder;
}

.loginBox input[type=text]:focus,
.loginBox input[type=password]:focus {
    border-bottom: 1px dashed #D9FFA9;
}

.loginBox button {
    background: #576E86;
    margin-left: 80%;
    border: none;
    padding: 8px 10px 8px 10px;
    border-radius: 5px;
    color: #A8BACE;
}

.loginBox button:hover {
    background: #394D61;
    font-weight: bolder;
    box-shadow: 1px 2px 2px 1px #eef3f9;

}
