.container {
  display: flex;
  flex-direction: column;
  font-size: 20px;
  background: #495C70;
  padding: 30px 30px 15px 30px;
  border: 5px solid #53687E;
}
.boldFont {
  font-weight: bold;
}
.authorsContainer {
  flex-direction: row;
}
img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.authorsInfo {
  flex-direction: column;
}
.likeButton {
  background-color: #f1f8fb;
  width: 10%;
  border-radius: 15%;
}
.likes {
  font-size: 15px;
}
.likeButton:hover {
  background: #394D61;
  color: #8C89C5;
}
