.container {
    width: 100%;
    padding: 30px 30px 15px 30px;
    margin: 10px;
    background: #495C70;
    border: 5px solid #53687E;
    font-size: 20px;
}

.boldFont {
    font-weight: bold;
}
/* Chmoranas*/
img {
    width: 30px;
    height: 30px;
    border-radius: 50%;
}

.authorsInfo {
    flex-direction: column;
}

.likes {
    font-size: 15px;
}

.likeButton {
    width: 80px;
    padding: 2px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: 5px;
    background-color: #f1f8fb;
    transition: background-color .3s ease-in-out, color .3s linear;
}

.likeButton:hover {
    background: #394D61;
    color: #8C89C5;
}
